body {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  color: #e5e5e5;
  font-size: 12px;
  background:#bfbfbf;
}

h1, h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin:0 0 15px 0;
}

h1 {
  font-size: 36px;
  letter-spacing: -1px;
  line-height: 100%;
}

h2 {
  font-size: 24px;
}

p {
  margin: 0 0 15px 0;
}

a {
  color: #3e3e3e;
}
